body {
    font-family: 'Work Sans', sans-serif;
    background-color: #E3EEF8;
}

.hero {
    display: block;
    text-align: center;
    margin-top: 7rem;
}

.sub-header {
    font-size: 9pt;
    color: #666666;
}

.form {
    display: flex;
    justify-content: center;
    
}

#email {
    width: 200px;
    height: 40px;
    border: none;
    padding-left: 10px;
    background-color: #EEF4F5;
}

#button {
    width: 120px;
    height: 40px;
    border: none;
    background-color: #FC593B;
    color: white;
}


@media screen and (min-width: 576px) {
    #ability {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 3em;
        padding-left: 15%;
        padding-right: 15%;
        font-size: 11px;
    }
}


@media screen and (min-width: 576px) {
    .block-1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    
    }

    .pencil {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.block-head {
    font-weight: bold;
}

.block-body {
    color: #6C6C6D;
}